@model tp3_web_aspnet_infnet.Models.Pessoa

@{
}

<div>
    <h4>Detalhes da pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
           @Model.Id
        </dd>
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Sobrenome
        </dt>
        <dd class="col-sm-10">
            @Model.Sobrenome
        </dd>
        <dt class="col-sm-2">
            Data de nascimento
        </dt>
        <dd class="col-sm-10">
            @Model.Aniversario
        </dd>
        
        
    </dl>
    </div>
    

